@import "tailwindcss";



:root {
  --background: #F0FFF4;
  --foreground: #171717;
}

body {
  @apply bg-slate-50 dark:bg-[#E8F5E9];
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}